# dependencies
node_modules/
.expo/
dist/
web-build/

# Expo
expo-env.d.ts

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
backend.log

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
*.swp
*.save
